html,
body {
    margin: 0 auto;
    padding: 0;
    background-color: #E5E5E5;
    max-width: 1440px;
    font-family: "SF Pro Display";
    font-family: sans-serif;
    color: #262626;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
}

.img {
    max-width: 100%;
    height: auto;
}

.img-wrap {
    display: flex;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.v-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn--logout {
    display: flex;
    align-items: center;
}

.search__button {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* Header */

.header {
    min-height: 64px;
    margin-bottom: 30px;
    background-color: #fa8c16;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 60px;
}

.nav {
    width: 255px;
    margin-right: auto;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item:not(:last-child) {
    margin-right: 15px;
}

.menu__link {
    color: #fafafa;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.search {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 237px;
    height: 32px;
    background-color: #fff;
    /* padding: 5px 30px 5px 12px; */
    border-radius: 4px;
    border: 1px solid #D9D9D9;
}

.form__group {
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.search__input {
    width: 195px;
    height: 100%;
    padding-left: 12px;
    border: none;
    font-size: 14px;
    line-height: 22px;
}

.search__input::-moz-placeholder {
    color: #bfbfbf;
}

.search__input::-webkit-input-placeholder {
    color: #bfbfbf;
}

.search__input:-ms-input-placeholder {
    color: #bfbfbf;
}

.search__input::-ms-input-placeholder {
    color: #bfbfbf;
}

.search__input::placeholder {
    color: #bfbfbf;
}


/* Main */

.main {
    padding-bottom: 132px;
}

.main .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}


/* Посты */

.posts {
    width: 67%;
}

.post {
    background-color: #fff;
    border: 1px solid #E8E8E8;
}

.post__body {
    padding: 35px 35px 0px;
}

.post:not(:last-child) {
    margin-bottom: 30px;
}

.post__title {
    margin: 0;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.post__text {
    margin: 0;
}

.post__text:not(:last-child) {
    margin-bottom: 20px;
}


/* Теги */

.tags {
    list-style: none;
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tags__item:not(:last-child) {
    margin-right: 10px;
}

.tags__link {
    color: #BFBFBF;
}

.post__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #FAFAFA;
    border-top: 1px solid #E8E8E8;
    padding: 13px 36px;
}

.actions {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.action {
    display: flex;
    align-items: center;
}

.actions__item:not(:last-child) {
    margin-right: 29px;
}

.icon {
    fill: #8c8c8c;
}

.icon--logout {
    fill: #000000;
}

.icon--fire {
    margin-right: 10px;
    fill: white;
}

.action__counter {
    color: #8C8C8C;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.author__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
    line-height: 20px;
}

.author__name {
    color: #8C8C8C;
}

.author__time-ago {
    color: #bfbfbf;
}

.author__avatar {
    border-radius: 5px;
    margin-left: 9px;
}


/* Sidebar */

.sidebar {
    width: 31%;
    outline: 1px solid gray;
}


/* User */

.user {
    margin-bottom: 21px;
}

.user__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #FAFAFA;
    border: 1px solid #e8e8e8;
}

.user__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__avatar {
    margin-right: 17px;
}

.user__pic {
    border-radius: 50%;
}

.user__name {
    max-width: 214px;
    font-weight: 600;
    color: #595959;
}


/* Юзер-меню */

.sidebar__nav {
    background-color: white;
    border: 1px solid #e8e8e8;
    border-top: none;
}

.user-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-menu__item {
    display: flex;
}

.user-menu__link {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    padding: 16px 16px 16px 48px;
}

.user-menu__link:hover {
    background-color: #fffbe6;
}

.user-menu__item--active a {
    border-right: 3px solid #FAAD14;
    color: #FAAD14;
}


/* Кнопка "Опубликовать пост" */

.add-post {
    margin-bottom: 20px;
}

.add-post-btn__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FAAD14;
    border-radius: 4px;
    color: white;
    padding: 13px 30px;
}


/* Карточка */

.card {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #E8E8E8;
}

.card__header {
    padding: 23px 25px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #E8E8E8;
}

.card__header-title {
    font-weight: 600px;
    margin: 0;
}

.card__link {
    color: #595959;
}

.card__body {
    padding: 22px 40px 30px 25px;
}

.card__title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #D48806;
    margin-bottom: 10px;
}

.card__text {
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}


/* Реклама */